services:
  # Serviço do Banco de Dados PostgreSQL
  postgres:
    image: postgres:16-alpine # Imagem remota do Docker Hub
    container_name: petshop_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432" # Expõe a porta para acesso externo (ex: DBeaver)
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  # Serviço do Backend (Spring Boot)
  backend:
    container_name: petshop_backend
    build:
      context: ./backend/PetAdoption/PetAdoption # Pasta onde está o Dockerfile do backend
      dockerfile: DockerFile
      network: host
    depends_on:
      - postgres # Garante que o postgres inicie antes do backend
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_FLYWAY_LOCATIONS=classpath:db/migration,filesystem:/app/migrations
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}
      - APP_STORAGE_BASE_DIR=/app/uploads
      - APP_STORAGE_PUBLIC_BASE_URL=/static
    ports:
      - "8080:8080" # Expõe a porta da API
    networks:
      - app-network
    volumes:
      - ./migrations:/app/migrations:ro
      - ./uploads:/app/uploads

  # Serviço do Frontend (Vue.js com Nginx)
  frontend:
    container_name: petshop_frontend
    build:
      context: ./frontend/pet_adoption_frontend # Pasta onde está o Dockerfile do frontend
      dockerfile: DockerFile
    ports:
      - "80:80" # Expõe a porta 80 para acesso web
    depends_on:
      - backend # Garante que o backend inicie antes do frontend
    networks:
      - app-network

# Volumes para persistência de dados
volumes:
  postgres_data:

# Rede para comunicação entre os contêineres
networks:
  app-network:
    driver: bridge